For Windows:
python -m venv venv
venv\Scripts\activate

Install OpenCV
pip install opencv-contrib-python

Check the installation
python -c "import cv2; print(cv2.__version__)"


📷 Webcam opens.
A still image (first frame) appears.
Drag the mouse around the object you want to track.
Press Enter or Space to confirm the selection.
The video becomes live and starts tracking the object.
Press q to quit.
